.container {
    display: grid;
    grid-template-areas:
            "header header"
            "nav nav"
            "main aside"
            "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.navigation {
    grid-area: nav;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
}

.navigation a {
    color: #ddd;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    flex: 1;
}

.navigation a:hover {
    background-color: #444;
}

main {
    grid-area: main;
    background-color: #ccc;
    padding: 1.5rem;
    font-size: 1.1rem;
}

aside {
    grid-area: aside;
    background-color: #f8f8f8;
    padding: 1.5rem;
    border-left: 1px solid #ddd;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-weight: 600;
}